<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>The Really Big One</title>

    <!-- Twitter Card data -->
    <!-- https://dev.twitter.com/cards/types/summary -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="The Really Big One">
    <meta name="twitter:description" content="An earthquake will destroy a sizable portion of the pacific northwest. It’s not a question of if, but when.">
    <meta name="twitter:creator" content="@wearehanno">
    <!-- Twitter Summary card images must be at least 120x120px -->
    <meta name="twitter:image" content="/media/banners/trbo-thumbnail.jpg">

    <!-- Open Graph data -->
    <!-- https://blog.kissmetrics.com/open-graph-meta-tags/ -->
    <meta property="og:title" content="The Really Big One" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://thereallybig.one/" />
    <!-- Facebook banner image: -->
    <!-- The most frequently recommended resolution for an OG image is 1200 pixels x 627 pixels (1.91/1 ratio). Keep it under 5mb. -->
    <!-- If you use an image that is smaller than 400 pixels x 209 pixels, it will render as a much smaller thumbnail. It’s nowhere nearly as eye-catching. -->
    <meta property="og:image" content="/media/banners/trbo-banner.jpg" />
    <meta property="og:description" content="An earthquake will destroy a sizable portion of the pacific northwest. It’s not a question of if, but when." />
    <meta property="og:site_name" content="The Really Big One" />

    <!-- TODO: favicon -->

    <!-- TODO: cachebust -->
    <link href='https://fonts.googleapis.com/css?family=Anton|Rubik:400,700,500|Halant:400,500,600' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "app" %>

    <%= javascript_include_tag "vendor/modernizr" %>
  </head>

  <body class="<%= page_classes %>">

    <%= yield %>

    <%= javascript_include_tag  "all" %>

    <script type="text/javascript">
      // jQuery(document).ready(function($) {

      // site preloader -- also uncomment the div in the header and the css style for #preloader
      $(window).load(function(){
        $('#preloader').fadeOut('slow',function(){$(this).remove();});
      });

      // });
    </script>

    <!-- Triggering animations with scrolling -->
    <script src="/assets/javascripts/wow.min.js"></script>
    <script>
      wow = new WOW(
        {
          boxClass:     'wow',      // default
          animateClass: 'animated', // default
          offset:       0,          // default
          mobile:       true,       // default
          live:         true        // default
        }
      );
      wow.init();
    </script>

  </body>

</html>