<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>The Really Big one</title>
    <!-- TODO: Twitter/OG Meta tags -->

    <!-- TODO: favicon -->

    <!-- TODO: cachebust -->
    <link href='https://fonts.googleapis.com/css?family=Anton|Rubik:400,700,500|Halant:400,500,600' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "app" %>

    <%= javascript_include_tag "modernizr" %>
  </head>

  <body class="<%= page_classes %>">

    <%= yield %>

    <%= javascript_include_tag  "all" %>

    <!-- Triggering animations with scrolling -->
    <script src="/assets/javascripts/wow.min.js"></script>
    <script>
      wow = new WOW(
        {
          boxClass:     'wow',      // default
          animateClass: 'animated', // default
          offset:       0,          // default
          mobile:       true,       // default
          live:         true        // default
        }
      );
      wow.init();
    </script>

  </body>

</html>