<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>The Really Big One</title>

    <!-- Twitter Card data -->
    <!-- https://dev.twitter.com/cards/types/summary -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="The Really Big One">
    <meta name="twitter:description" content="An earthquake will destroy a sizable portion of the pacific northwest. It’s not a question of if, but when.">
    <meta name="twitter:creator" content="@wearehanno">
    <!-- TODO: should be Guillermo, no? -->
    <!-- Twitter Summary card images must be at least 120x120px -->
    <!-- TODO: Change URL to thereallybig.one once migrated -->
    <meta name="twitter:image" content="http://104.236.226.66/media/banners/trbo-thumbnail.jpg">

    <!-- Open Graph data -->
    <!-- https://blog.kissmetrics.com/open-graph-meta-tags/ -->
    <meta property="og:title" content="The Really Big One" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://thereallybig.one/" />
    <!-- Facebook banner image: -->
    <!-- The most frequently recommended resolution for an OG image is 1200 pixels x 627 pixels (1.91/1 ratio). Keep it under 5mb. -->
    <!-- If you use an image that is smaller than 400 pixels x 209 pixels, it will render as a much smaller thumbnail. It’s nowhere nearly as eye-catching. -->
    <meta property="og:image" content="http://104.236.226.66/media/banners/trbo-banner.jpg" />
    <!-- TODO: Change URL to thereallybig.one once migrated -->
    <meta property="og:description" content="An earthquake will destroy a sizable portion of the pacific northwest. It’s not a question of if, but when." />
    <meta property="og:site_name" content="The Really Big One" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/trbo-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/trbo-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/trbo-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/trbo-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/trbo-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/trbo-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/trbo-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/trbo-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/trbo-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/favicon/trbo-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/trbo-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon/trbo-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/trbo-16x16.png">

    <!-- <link rel="manifest" href="/manifest.json"> -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/images/favicon/trbo-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- inlining the pace styles, so they load really fast -->
    <style>

      .js section, .js footer {
        visibility: hidden; }

      .js .pace-done section, .js .pace-done footer {
        visibility: visible; }

      .pace-inactive {
        display: none; }

      .pace {
        pointer-events: none;
        user-select: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 9999;
        width: 100%;
        height: 100%;
        background: #161f29; }
        @media only screen and (min-width: 64.0625em) {
          .pace {
            background: url(/media/banners/trbo-banner-low.jpg) center center no-repeat;
            background-size: cover; } }
        .pace .pace-progress {
          background: #ffbf42;
          background-image: linear-gradient(to right, #ff4e15 0%, #ff9b58 50%, #ffbf42 100%);
          position: fixed;
          z-index: 3000;
          top: 0;
          right: 100%;
          width: 100%;
          height: 8px; }

    </style>

    <!-- modernizr includes pace.js to show splash screen and pace's loading indicator asap -->
    <%= javascript_include_tag "vendor/modernizr" %>

    <!-- TODO: cachebust -->
    <%= stylesheet_link_tag "app" %>
    <link href='https://fonts.googleapis.com/css?family=Anton|Rubik:400,700,500|Halant:400,500,600' rel='stylesheet' type='text/css'>

  </head>

  <body class="<%= page_classes %>">

    <%= yield %>

    <%= javascript_include_tag "all" %>

  </body>

</html>